@code {
    [Parameter]
    public string? Title { get; set; }
    
    /// <summary>
    ///     Dictionary with the breadcrumb name as key and the URL as value.
    /// </summary>
    [Parameter]
    public required Dictionary<string, string> Breadcrumbs { get; set; }
}

<div class="title-and-breadcrumb mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-home"></i></a></li>

            @foreach (var (key, value) in Breadcrumbs)
            {
            if (Breadcrumbs.Last().Key == key)
            {
            <li class="breadcrumb-item active" aria-current="page">@key</li>
            }
            else
            {
            <li class="breadcrumb-item"><a href="@value">@key</a></li>
            }
            }
        </ol>
    </nav>

    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h1>@Title</h1>
    }
</div>
