@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-center">Welcome to Ninja World</h1>
    <p class="lead text-center">Explore the world of ninjas, their gear, and exclusive items in our shop!</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Get Started</a>
</div>