:root[data-theme="dark"] {
  --background-pr: #161618;
  --background-sec: #28282a;
  --background-ter: #3b3b3d;
  --body-color: #e1e1e1;
  --body-color-sec: #f2f2f2;
  --body-color-ter: #888;
  --primary-color: #258cfb;
  --border: #424243;
}
:root[data-theme="light"] {
  --background-pr: #f7f6fb;
  --background-sec: #fff;
  --background-ter: #f2f2f2;
  --body-color: #333;
  --body-color-sec: #000;
  --primary-color: #258cfb;
  --border: #ddd;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn-outline-secondary {
  color: var(--body-color);
  background-color: transparent;
  border-color: var(--body-color-sec);
}
.btn-outline-secondary:hover {
  color: var(--background-pr);
  background-color: var(--body-color-sec);
  border-color: var(--body-color);
}

input {
  color: var(--body-color) !important;
  background-color: var(--background-sec) !important;
  border: 1px solid var(--background-ter) !important;
  border-radius: .25rem;
}
.bg-clr-sec input,
.tile input {
  background-color: var(--background-ter) !important;
  border-color: var(--border) !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-pr);
  color: var(--body-color);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--body-color-sec);
  font-weight: 700;
}

/* colors */
.text-clr-pr {
  color: var(--body-color);
}
.text-clr-sec {
  color: var(--body-color-sec);
}
.text-clr-ter {
  color: var(--body-color-ter);
}
.bg-clr-pr {
  background-color: var(--background-pr);
}
.bg-clr-sec {
  background-color: var(--background-sec);
}
.bg-clr-ter {
  background-color: var(--background-ter);
}

/* navbar */
.navheader {
  border-bottom: 1px solid var(--border);
}
.navbar .navbar-brand {
  color: var(--body-color) !important;
}
.navbar .nav-link {
  color: var(--body-color) !important;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--primary-color) !important;
}
.navbar .nav-link.active {
  color: var(--primary-color) !important;
}
.navbar #darkmode-toggle {
  padding: 0;
  width: 2.5em;
  aspect-ratio: 1/1;
}

/* layout */
.row {
  margin-inline: 0;
}

.border {
    border: 1px solid var(--border) !important;
}
.border-top {
    border-top: 1px solid var(--border) !important;
}
.border-bottom {
    border-bottom: 1px solid var(--border) !important;
}

.custom-card {
  background-color: var(--background-sec);
  border-radius: 1rem;
  border: 1px solid var(--border);
  padding: 0;
  margin: 1.8em 0;
}

/* value badges */
/* TODO : value badge styling, image as background*/