:root {
  --badge-height: 50px;
}
:root[data-theme="dark"] {
  --background-pr: #161618;
  --background-pr-rgb: 22, 22, 24;
  --background-sec: #28282a;
  --background-ter: #3b3b3d;
  --body-color: #bfbfbf;
  --body-color-sec: #f2f2f2;
  --body-color-ter: #888;
  --primary-color: #258cfb;
  --border: #424243;
}
:root[data-theme="light"] {
  --background-pr: #f7f6fb;
  --background-pr-rgb: 247, 246, 251;
  --background-sec: #fff;
  --background-ter: #f2f2f2;
  --body-color: #333;
  --body-color-sec: #000;
  --primary-color: #258cfb;
  --border: #ddd;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn-outline-secondary {
  color: var(--body-color);
  background-color: transparent;
  border-color: var(--body-color-sec);
}
.btn-outline-secondary:hover {
  color: var(--background-pr);
  background-color: var(--body-color-sec);
  border-color: var(--body-color);
}

label {
    color: var(--body-color) !important;
}
input {
  color: var(--body-color) !important;
  background-color: var(--background-sec) !important;
  border: 1px solid var(--border) !important;
  border-radius: .25rem;
}
.bg-clr-sec input,
.tile input {
  background-color: var(--background-ter) !important;
  border-color: var(--border) !important;
}
.form-group {
    margin-bottom: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-pr);
  color: var(--body-color);
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--body-color-sec);
  font-weight: 700;
}

/* utility classes */
.pl-0 {
  padding-left: 0;
}

/* colors */
.text-clr-pr {
  color: var(--body-color);
}
.text-clr-sec {
  color: var(--body-color-sec);
}
.text-clr-ter {
  color: var(--body-color-ter);
}
.bg-clr-pr {
  background-color: var(--background-pr);
}
.bg-clr-sec {
  background-color: var(--background-sec);
}
.bg-clr-ter {
  background-color: var(--background-ter);
}

/* navbar */
.navheader {
  border-bottom: 1px solid var(--border);
  background-color: rgba(var(--background-pr-rgb), 0.7);
  backdrop-filter: blur(15px);
}
.navbar .navbar-brand {
  color: var(--body-color) !important;
}
.navbar .nav-link {
  color: var(--body-color) !important;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--primary-color) !important;
}
.navbar .nav-link.active {
  color: var(--primary-color) !important;
}
.navbar #darkmode-toggle {
  padding: 0;
  width: 2.5em;
  aspect-ratio: 1/1;
}

/* layout */
.row {
  margin-inline: 0;
}

.border {
    border: 1px solid var(--border) !important;
}
.border-top {
    border-top: 1px solid var(--border) !important;
}
.border-bottom {
    border-bottom: 1px solid var(--border) !important;
}

.custom-card {
  background-color: var(--background-sec);
  border-radius: .6em;
  border: 1px solid var(--border);
  padding: 0;
  overflow: hidden;
}
.custom-card .card-body .col, .custom-card .card-body .col-12 {
  padding: 0;
}
.custom-card .card-header {
  padding: 1em;
  border-bottom: 1px solid var(--border);
}
.custom-card h2, .custom-card h3, .custom-card h4 {
  margin-bottom: 0;
}
.custom-card .card-footer {
  padding: 1em;
  border-top: 1px solid var(--border);
}

/* value badges */
/* TODO : value badge styling, image as background*/
.value-badge,
.value-badge-long{
  background-image: url(../img/badges/overall-small.png);
  background-size: auto var(--badge-height);
  background-repeat: no-repeat;
  line-height: var(--badge-height);
  padding-left: 2em;
  margin: .4em 0;
  font-weight: bold;
  color: var(--bs-white);
  display: inline-block;
  width: 140px;
  text-align: center;
}
.value-badge-long {
  width: 235px;
}

.value-badge.gold {
  background-image: url(../img/badges/gold.png);
}
.value-badge.agility {
  background-image: url(../img/badges/agility.png);
}
.value-badge.intelligence {
  background-image: url(../img/badges/intelligence.png);
}
.value-badge.strength {
  background-image: url(../img/badges/strength.png);
}
.value-badge.price {
    background-image: url(../img/badges/price.png);
}

.value-badge-long.overall {
  background-image: url(../img/badges/overall-small-long.png);
}
.value-badge-long.gold {
    background-image: url(../img/badges/gold-long.png);
}
.value-badge-long.agility {
    background-image: url(../img/badges/agility-long.png);
}
.value-badge-long.intelligence {
    background-image: url(../img/badges/intelligence-long.png);
}
.value-badge-long.strength {
    background-image: url(../img/badges/strength-long.png);
}
.value-badge-long.price {
    background-image: url(../img/badges/price-long.png);
}

.value-badge.gear-value-large,
.value-badge-long.gear-value-large {
  background-image: url(../img/badges/overall-large.png);
  background-size: auto calc(var(--badge-height)* 1.8);
  line-height: calc((var(--badge-height)* 1.8) - 4rem);
  padding-top: 2.4em;
  padding-left: 0;
  font-size: 1.3rem;
}
.value-badge-long.gear-value-large {
  background-image: url(../img/badges/overall-large-long.png);
}